body, html {
    margin: 0;
    padding: 0;
    background-color: #021A30; /* COR DE FUNDO GERAL */
}

.page {
    height: 100%;
    background-color: #021A30;
    color: white;
    padding-top: 120px; /* Deixa espaço para a header fixa */
}

/* HEADER */
.header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #01121F;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding-left: 500px;
}

/* Container que aparece logo abaixo da header */
.userInfo {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    background-color: #01121F;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    height: 100px;
    transform: translateY(-98px);
}

/* Cartão de informações do usuário */
.userCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limitar a largura máxima */
}

.userInfo > div {
    display: flex;
    flex: 1;
    justify-content: left;
    margin-left: 400px;
    align-items: center;
}

.userCard > .rightText {
    justify-content: right;
    margin-left: 300px;
}

.logo {
    width: 90px;
    height: auto;
    transform: translateY(8px);
    transform: translateX(-110px);
}

.logoutButton {
    background-color: #021A30;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    justify-content: center;
    width: auto;
    white-space: nowrap;
    margin-left: 660px;
    transform: translateX(-260px);
}

.logoutButton:hover {
    background-color: #03344d;
}

/* Estilo da mensagem de desenvolvimento */
.developmentMessage {
    background-color: #021A30;
    padding: 50px 20px;
    transform: translateY(-100px);
    text-align: center;
    flex-grow: 1; /* Garante que o conteúdo ocupe o restante da tela */
}
